.contenedor-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 15px;
  margin: 15px;
}

iframe {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  }
.row {
  display: block;
 }

 .contenedor-publicaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn.btn-primary {
  background-color: #52796f;
  border: 1px solid #52796f;
}